<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "Alpha Blog", root_path, class: "nav-link", id: "logo" %>
  </li>
  <li class="nav-item">
       <a>
        <%= link_to "New Article", new_article_path, class: "nav-link" %> 
       </a>
  </li>
  <li class="nav-item">
    <%= link_to "Articles", articles_path, class: "nav-link" %>
  </li>
  <li>
    <%= link_to "Log out", logout_path, method: :delete %>
    </li>
</ul>